.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  //   align-items: center;
  &__left-and-write {
    width: 50vw;
    min-height: 100vh;
    background-color: var(--background);
    // background-color: green !important;
  }

  &__left-and-write:nth-child(1) {
    // background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    padding: 1.25rem;

    padding: clamp(
      1.25rem,
      -0.17045454545454541rem + 3.787878787878788vw,
      4.375rem
    );

    .school-badge {
      width: 4.375rem;
      width: clamp(
        4.375rem,
        3.5227272727272725rem + 2.272727272727273vw,
        6.25rem
      );
      margin-bottom: 0.9375rem;
      margin-bottom: clamp(
        0.9375rem,
        0.6534090909090908rem + 0.7575757575757576vw,
        1.5625rem
      );
      height: auto;
    }

    .sub-heading-top {
      margin-bottom: 0.75rem;
      margin-bottom: clamp(
        0.75rem,
        0.6647727272727273rem + 0.22727272727272727vw,
        0.9375rem
      );
      // text-transform: uppercase;
      font-size: 1.125rem;
      font-size: clamp(
        1.125rem,
        0.6420454545454546rem + 1.2878787878787878vw,
        2.1875rem
      );
      font-weight: 600;
    }

    .main-heading {
      line-height: 1.25;
      font-size: 1.25rem;
      color: var(--white);
      font-size: clamp(
        1.25rem,
        0.3977272727272727rem + 2.272727272727273vw,
        3.125rem
      );
      font-weight: 700;
      // text-transform: uppercase;
    }

    .sub-heading-bottom {
      margin-top: 0.625rem;
      margin-top: clamp(
        0.625rem,
        0.19886363636363635rem + 1.1363636363636365vw,
        1.5625rem
      );
      font-size: 0.9375rem;
      font-size: clamp(
        0.9375rem,
        0.5681818181818182rem + 0.9848484848484848vw,
        1.75rem
      );
      font-weight: 500;
    }

    .form {
      width: 50%;
      position: relative;
      height: 70px;
      overflow: hidden;
      margin-top: 0.0625rem;
      margin-top: clamp(
        0.0625rem,
        -0.19318181818181818rem + 0.6818181818181818vw,
        0.625rem
      );

      display: flex;
      align-items: end;
    }

    .form input {
      width: 100%;
      // height: 100%;
      margin-bottom: 5px;
      color: var(--white);
      padding-top: 0.625rem;
      padding-top: clamp(
        0.625rem,
        0.3409090909090909rem + 0.7575757575757576vw,
        1.25rem
      );
      border: none;
      background-color: var(--background);
      font-size: pixToRem(18);
      font-size: pixToRem(14);
    }
    .form label {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid var(--white);
      font-size: 0.75rem;
      font-size: clamp(
        0.75rem,
        0.6647727272727273rem + 0.22727272727272727vw,
        0.9375rem
      );
    }
    .form label::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0px;
      width: 100%;
      height: 100%;
      border-bottom: 3px solid var(--light-blue);
      transform: translateX(-100%);
      transition: all 0.3s ease;
    }

    .content-name {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-bottom: 5px;
      transition: all 0.3s ease;
    }
    .form input:focus {
      outline: none;
    }
    .form input:focus + .label-name .content-name,
    .form input:valid + .label-name .content-name {
      transform: translateY(-100%);
      font-size: 0.625rem;
      font-size: clamp(
        0.625rem,
        0.5113636363636364rem + 0.30303030303030304vw,
        0.875rem
      );
      left: 0px;
      color: var(--light-blue);
      border-radius: 5px;
    }
    .form input:focus + .label-name::after,
    .form input:valid + .label-name::after {
      transform: translateX(0%);
    }

    .submit-button {
      border-radius: 8px;
      background-color: var(--blue);
      border: none;
      color: var(--white);
      text-align: center;
      font-size: 0.75rem;
      font-size: clamp(
        0.75rem,
        0.6647727272727273rem + 0.22727272727272727vw,
        0.9375rem
      );
      padding: 0.4375rem;
      padding: clamp(
        0.4375rem,
        0.3522727272727273rem + 0.22727272727272727vw,
        0.625rem
      );
      width: 16.25rem;
      width: clamp(
        16.25rem,
        15.113636363636363rem + 3.0303030303030303vw,
        18.75rem
      );
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      margin-top: 25px;
    }

    .submit-button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .submit-button span:after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .submit-button:hover span {
      padding-right: 15px;
    }

    .submit-button:hover span:after {
      opacity: 1;
      right: 0;
    }

    .already-applied {
      color: var(--gray);
      font-size: 0.75rem;
      font-size: clamp(
        0.75rem,
        0.6931818181818182rem + 0.15151515151515152vw,
        0.875rem
      );
      margin-top: 20px;
      margin-bottom: 100px;

      .check-data-btn {
        color: var(--light-blue);
        cursor: pointer;
      }

      .check-data-btn:hover {
        text-decoration: underline;
      }
    }
  }
  &__left-and-write:nth-child(2) {
    overflow: hidden;
    display: flex;
    justify-content: center;
    .bg-image {
      height: 100vh;
      opacity: 0.7;
      // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      // filter: grayscale(100%);
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-gray);
    color: var(--white);
    height: 50px;
    width: 100vw;
    font-size: 0.6875rem;
    font-size: clamp(
      0.6875rem,
      0.6643518518518519rem + 0.12345679012345678vw,
      0.8125rem
    );
    font-weight: 500;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    &__left-and-write {
      width: 100vw;
      min-height: 100vh;
    }
    &__left-and-write:nth-child(1) {
      .school-badge {
        width: 6.25rem;
        width: clamp(6.25rem, 5rem + 6.666666666666667vw, 7.5rem);
      }
      .sub-heading-top {
        font-size: 1.375rem;
        font-size: clamp(1.375rem, 0.875rem + 2.666666666666667vw, 1.875rem);
      }
      .main-heading {
        font-size: 1.625rem;
        font-size: clamp(
          1.625rem,
          1.6072154471544715rem + 0.07588075880758807vw,
          2.0625rem
        );
      }
      .sub-heading-bottom {
        font-size: 1rem;
        font-size: clamp(1rem, 0.75rem + 1.3333333333333335vw, 1.25rem);
      }

      .form {
        input {
          font-size: 0.75rem;
          font-size: clamp(0.75rem, 0.625rem + 0.6666666666666667vw, 0.875rem);
        }
        label {
          font-size: 0.75rem;
          font-size: clamp(0.75rem, 0.625rem + 0.6666666666666667vw, 0.875rem);
        }

        input:focus + .label-name .content-name,
        input:valid + .label-name .content-name {
          font-size: 0.6875rem;
          font-size: clamp(
            0.6875rem,
            0.5625rem + 0.6666666666666667vw,
            0.8125rem
          );
        }

        // .content-name {
        //   padding-bottom: 6px;
        // }
      }

      .submit-button {
        font-size: 0.75rem;
        font-size: clamp(0.75rem, 0.625rem + 0.6666666666666667vw, 0.875rem);
        padding: 0.4375rem;
        padding: clamp(0.4375rem, 0.375rem + 0.33333333333333337vw, 0.5rem);
        width: 8.125rem;
        width: clamp(8.125rem, 0rem + 43.333333333333336vw, 16.25rem);
      }

      .already-applied {
        font-size: 0.6875rem;
        font-size: clamp(
          0.6875rem,
          0.5625rem + 0.6666666666666667vw,
          0.8125rem
        );
      }
    }
    &__left-and-write:nth-child(2) {
      display: none;
    }
  }
}
