html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px !important;
  font-weight: 300;
  background-color: var(--background);
  color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// select:focus {
//   border: 0px;
//   outline: 0px;
// }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
