:root {
  --black: #000;
  --dark-white: #b5b5b5;
  --white: #dadada;

  --background: #18191a;
  --light-blue: #336dc2;
  --blue: #134595;
  --gray: #808080;
  --dark-gray: #171717;
  --footer-gray: #000316;
  --placeholder: #4e4e4e;
  --border: #323232;
}
